.cms-container {
    height: calc(100vh - 56px);
}

.cms-list-blogs {
    min-width: 240px;
    height: calc(100vh - 56px);
    ul {
        padding: 0px;
        li {
            padding: 4px 2px;
        }
        li:hover {
            background-color: rgb(244, 244, 244);
            cursor: pointer
        }
    };
    p {
        font-size: .8rem !important;
    }
}

.cms-list-blogs__img img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}




#quill-box {
    /* color: rgb(177, 177, 177); */
    height: calc( 100vh - 250px);
    width: 100%;
}



.react-dropzone {
    transition: all .3s ease;
    &:hover {
        border-color: rgb(151, 151, 252) !important;
        cursor: pointer;
        transition: all .3s ease;
    }
}



.list-blog-details {
    max-height: 60px;
    max-width: 250px;
    overflow: hidden;
    p {
        max-height: 60px;
        text-overflow: ellipsis;
    }
}






#img-item-blog {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}